<p style="color: green"><%= notice %></p>

<div class="opcion-show">
  <div>

  <%= link_to "â® Volver", categoria_path, class: "link-new" %>
</div> 
<div class="opcion-show">
  <%= link_to "Editar", edit_categorium_path(@categorium), class: "link-edit" %> 
  <%= button_to "Elimnar", @categorium, method: :delete, class: "button-destroy" %>
</div>
</div>

<div class="container-content">
  <div class="content-content">
<%= render @categorium %>
</div>
</div>

