<p style="color: green"><%= notice %></p>

<div class="opcion-show">
    <div>
  <%= link_to "â® Volver", articulos_path, class: "link-new" %>
</div>
<div class="opcion-show">
  <%= link_to "Editar", edit_articulo_path(@articulo), class: "link-edit" %> 
  <%= button_to "Elimnar", @articulo, method: :delete, class: "button-destroy" %>
</div>
</div>


<div class="container-content">
  <div class="content-content">
<%= render @articulo %>
</div>
</div>